@use "../custom" as *;

/* center portfolio container  */
.grid {
  margin: 0 auto;
}

.mpImgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #111111;

}
.mpImgText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  a{
  	text-decoration: none;
  	color:white;
  }
  pre {
    font-size:13px;
  }
}
.mpImgDiv:hover .mpImgOverlay {
  opacity: 0.9;
}

div.post-thumbnail{
  text-align: center;
}

.post-thumbnail img{
	max-width: 100%;
	height: auto;
}

.entry-content img{
		max-width:100%;

}